{% extends "base_generic.html" %}
{%block content%}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1>Panel de reservas</h1>
{%if object_list%}
{%for reserva in object_list%}
<p>Titulo: {{reserva.book_instance.book.title}}</p>
<p>Fecha de reserva: {{reserva.fecha_reserva}}</p>
<p>Estado: {{reserva.estado}}</p>
{%endfor%}
{%else%}
<p>No tienes reservas</p>
{%endif%}
{%endblock%}
